#header{ 
    background-color: rgba(0, 255, 200, 0.938);
}
#cardContainer{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(91, 14, 168);
}
#redesSociales{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(252, 252, 253);
    justify-content: center;

    }
.redes {
    padding: 6px

}